In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Setting the directory
os.chdir('C:\\Users\\user\\Desktop\\ISS_Project\\TUS Data')

In [3]:
# initializing string
# test_str: String that needed to be split
# cus_lens: customized length of substrings after splitting

def nsso_splitter (test_str, cus_lens):
    res = []
    strt = 0
    for size in cus_lens:
        res.append(test_str[strt : strt + size])
        strt += size
    return res

# Level 1 data

In [4]:
with open('TUS106_L01.txt') as f:
    lines = f.readlines()

In [5]:
TUS1=pd.DataFrame(lines)
TUS1.columns=['Whole_String']
TUS1['New_String']=TUS1['Whole_String'].apply(lambda x:nsso_splitter(x,cus_lens = [3,5,3,4,1,3,2,2,2,1,4,2,2,5,2,1,1,1,12,6,6,3,1,1,1,1,1,50,3,10]))

In [6]:
New_Columns=['Schedule ID','FSU Serial No.','Schedule','survey year','Sector','NSS-Region','District','Stratum','Sub-Stratum',
             'Sub-Round','FOD Sub-Region','Sample hhld. No.','Level','Filler','Informant Sl.No.','Response Code','Survey Code',
             'Substitution Code/ Casualty code','Filler','Date of Survey','Date of Despatch','Time to canvass(minutes)',
             'No. of investigators(FI/ASO) in the team','Remarks in block 7','Remarks in block 8','Remarks elsewhere in Sch.',
             'Remarks elsewhere in Sch.','Blank','NSC','MULT']
for i in range(30):
    TUS1[New_Columns[i]]=TUS1['New_String'].apply(lambda x: x[i])

In [7]:
TUS106_L01=TUS1[['Schedule ID', 'FSU Serial No.',
       'Schedule', 'survey year', 'Sector', 'NSS-Region', 'District',
       'Stratum', 'Sub-Stratum', 'Sub-Round', 'FOD Sub-Region',
       'Sample hhld. No.', 'Level', 'Filler', 'Informant Sl.No.',
       'Response Code', 'Survey Code', 'Substitution Code/ Casualty code',
       'Date of Survey', 'Date of Despatch', 'Time to canvass(minutes)',
       'No. of investigators(FI/ASO) in the team', 'Remarks in block 7',
       'Remarks in block 8', 'Remarks elsewhere in Sch.', 'NSC',
       'MULT']]

In [8]:
TUS106_L01

,Schedule ID,FSU Serial No.,Schedule,survey year,Sector,NSS-Region,District,Stratum,Sub-Stratum,Sub-Round,...,Substitution Code/ Casualty code,Date of Survey,Date of Despatch,Time to canvass(minutes),No. of investigators(FI/ASO) in the team,Remarks in block 7,Remarks in block 8,Remarks elsewhere in Sch.,NSC,MULT
0,TUS,10202,106,2019,1,011,19,01,31,1,...,,290119,130219,90,1,2,2,2,4,1281550
1,TUS,10202,106,2019,1,011,19,01,31,1,...,,260119,130219,90,1,2,2,2,4,1281550
2,TUS,10202,106,2019,1,011,19,01,31,1,...,,280119,130219,90,1,2,2,2,4,1281550
3,TUS,10202,106,2019,1,011,19,01,31,1,...,,300119,130219,90,1,2,2,2,4,1281550
4,TUS,10202,106,2019,1,011,19,01,31,1,...,,270119,130219,90,1,2,2,2,4,1281550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138794,TUS,26082,106,2019,2,361,23,04,04,3,...,,120819,290819,090,1,2,2,2,4,704688
138795,TUS,26082,106,2019,2,361,23,04,04,3,...,,130819,290819,090,1,2,2,2,4,704688
138796,TUS,26082,106,2019,2,361,23,04,04,3,...,,130819,290819,090,1,2,2,2,4,704688
138797,TUS,26082,106,2019,2,361,23,04,04,3,...,,140819,290819,090,1,2,2,2,4,704688
138798,TUS,26082,106,2019,2,361,23,04,04,3,...,,140819,290819,090,1,2,2,2,4,704688

In [10]:
TUS106_L01.to_excel('TUS106_L01.xlsx')